<ion-content class="fondo">

    <div class="content-logo">
        <div>
            <img src="assets/fondo/logog.gif">
        </div>
    </div>
    <div 
      class="climacell-widget" ´
      data-apikey="KkXoztJE1MN7Lf4HqTGP2d5gRoCu6fSu" 
      data-type="daily" 
      data-location-name="Santa Cruz, Bolivia" 
      data-location-lon="-63.1560853" 
      data-location-lat="-17.8145819" 
      data-size-mode="large" 
      data-font-color="#000" 
      data-background-color="#fff" 
      data-font-family="verdana" 
      data-weather-params="temp:C,precipitation:mm/hr,humidity:%" 
      data-allow-users-enter-address="true" 
    ></div>

    <div class="content-menu">

      <div class="tipo-row">
        <a routerLink="/tabs/productos" class="btn">
          <div>
              <ion-icon name="leaf"></ion-icon>
              <ion-label>Productos</ion-label>
          </div>
      </a>
      </div>
      <div class="tipo-row">
        <a routerLink="/tabs/aboutus" class="btn">
          <div>
              <ion-icon name="people"></ion-icon>
              <ion-label>Nosotros</ion-label>
          </div>
      </a>
      </div>
      <div class="tipo-row">
        <a routerLink="/tabs/contactos" class="btn">
          <div>
              <ion-icon name="mail"></ion-icon>
              <ion-label>Contactos</ion-label>
          </div>
        </a>
      </div>
    </div>
</ion-content>
