<ion-content class="fondo">

    <div class="content-logo">
        <div>
            <img src="assets/fondo/logog.gif">
        </div>
    </div>
    <div class="content-menu">
      <div class="tipo-row">
        <a routerLink="/tabs/productos" class="btn">
          <div>
              <ion-icon name="leaf"></ion-icon>
              <ion-label>Productos</ion-label>
          </div>
        </a>
      </div>
      <div class="tipo-row">
        <a routerLink="/tabs/aboutus" class="btn">
          <div>
              <ion-icon name="people"></ion-icon>
              <ion-label>Nosotros</ion-label>
          </div>
        </a>
      </div>
      <div class="tipo-row">
        <a routerLink="/tabs/contactos" class="btn">
          <div>
              <ion-icon name="mail"></ion-icon>
              <ion-label>Contactos</ion-label>
          </div>
        </a>
      </div>
    </div>
</ion-content>
