<ion-header>
  <ion-toolbar>
    <div class="head">
      <div>
        <img alt="logo" height="40" src="assets/fondo/upl-mini.png">
      </div>
      <h3 id="segundo">
        Nosotros
      </h3>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Sobre Nosotros</h1>
  <div class="separador ion-justify-content-center">
    <div class="linea1"></div>
    <div class="linea2"></div>
  </div>

  <video controls="controls" preload="metadata" poster="assets/img/portada.jpg" webkit-playsinline="webkit-playsinline" class="videoPlayer">
    <source src="assets/videos/Purpose.mp4" type="video/mp4" />
   </video>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Compañía global centrada en el desarrollo de soluciones únicas para la
        agricultura.
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Fundada en 1969, la UPL india opera hoy en 86 países y cuenta con 27
        centros de tecnología para desarrollar productos de alta calidad y es
        uno de los principales productores mundiales de agroquímicos,
        intermedios, químicos especiales y productos de uso industrial. UPL
        participa en todas las etapas de la producción agricola, esto es, desde
        la generación de semillas, químicos para la protección vegetal y de
        protección post cosecha (de granos almacenados). Opera en todos los
        continentes y tiene clientes establecidos en 100 paises; esto lo
        convierte en un proveedor mundial de agroquímicos.
      </p>
      <p>
        Con más de 28 adquisiciones en los últimos 11 años, la UPL se encuentra
        entre las 10 empresas más grandes del mundo en el segmento de productos
        agroquímicos. Las continuas inversiones que promueven la diferenciación
        de las nuevas formulaciones, productos y combinaciones innovadoras cada
        vez menos dañinos para el medio ambiente y la salud.
      </p>
      <p>
        El trabajo global dirigió la misión de proteger y nutrir los cultivos de
        soja, maíz, algodón, caña de azúcar, arroz, pastos, Horti-frutales,
        vegetales en Bolivia, cumplido el objetivo siempre la UPL en sus más de
        5 años operaciones en el país.
      </p>
    </ion-card-content>
  </ion-card>

  <h1>La Producción Mundial De Agroquímicos</h1>
  <div class="separador ion-justify-content-center">
    <div class="linea1"></div>
    <div class="linea2"></div>
  </div>
  <ion-card>
    <div class="img-mundo">
      <img src="assets/fondo/fondomundo.jpg">
    </div>
    <ion-card-content>
      <h2>NUESTRA VISIÓN</h2>
      <div class="separador ion-justify-content-center">
        <div class="linea1"></div>
        <div class="linea2"></div>
      </div>
      <p class="p-inside">
        Inspirar confianza, ofreciendo soluciones innovadoras para la protección para la agroindustria,
        con un crecimiento sostenible, compartiendo nuestro éxito para mejorar el mundo que nos rodea.
      </p>
      <h2>NUESTRA MISIÓN</h2>
      <div class="separador ion-justify-content-center">
        <div class="linea1"></div>
        <div class="linea2"></div>
      </div>
      <p class="p-inside">
        Ser una de las diez mayores empresas en el sector agrícola de Bolivia hasta 2020.
      </p>
      <h2>VALORES</h2>
      <div class="separador ion-justify-content-center">
        <div class="linea1"></div>
        <div class="linea2"></div>
      </div>
      <div>
        <ul>
          <li>Respeto a las personas y objetivos de negocio.</li>
          <li>El espíritu de equipoTrabajo en equipo fortalece la compañía.</li>
          <li>Compromiso deestar comprometido con la empresa 's resultados.</li>
          <li>Iniciativade no dejar a continuación, que puede hacer ahora.</li>
          <li>La credibilidadQué acciones confirman las palabras.</li>
          <li>La simplicidadno complica lo que no.</li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="footer dark"></ion-footer>
